.mainContain {
    margin-top: 25px;
}

.card {
    padding: 80px;
    border-radius: 10px;
    opacity: 0.9;
    margin: 30px;
}

.cardSmall {
    padding: 30px;
    border-radius: 10px;
    opacity: 0.9;
    background-color: white;
}

.wrapper {
        min-height: 100%;
        margin-bottom: -100px;
        padding-bottom: 100px;
}

.welcome {
    opacity: 0.5;
}

.buttonLayout {
    padding: 10px;
}